<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")

  body
    header.header
      h1.header__title pomodoro clock
    main.main
      section.main__section-input
        div.main__break
          p.main__break-title break length
          div.main__break-wrapper.main__wrapper
            button.main__break-minus-btn#break-minus -
            p.main__break--input#break-input 01
            button.main__break-plus-btn#break-plus +
        div.main__session
          p.main__session-title session length
          div.main__session-wrapper.main__wrapper
            button.main__session-minus-btn#session-minus -
            p.main__session--input#session-input 01
            button.main__session-plus-btn#session-plus +
      section.main__section-display
        p.main__display-counter 25:00
      section.main__section-panel
        button.main__start-btn#start-btn start
        button.main__reset-btn#reset-btn reset
        button.main__pause-btn#pause-btn pause/resume
    footer.footer
      p.footer__text made by errec

  script(src="js/bundle.min.js")
