<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
    meta(name="description" content="")
    link(rel="stylesheet" href="css/main.min.css")

  body
    div.container
      header.header
        div.header__background
        section.main__section-input
          include templates/watch-svg.pug
          button.main__start-btn#start-btn
          section.section-input__break
            p.main__break-title Break Length
            div.main__break-wrapper.main__wrapper
              button.main__break-decrease-btn.input-btn#break-decrease -
              p.main__break--input.input-text#break-input 01
              button.main__break-increase-btn.input-btn#break-increase +
          section.section-input__session
            p.main__session-title Session Length
            div.main__session-wrapper.main__wrapper
              button.main__session-decrease-btn.input-btn#session-decrease -
              p.main__session--input.input-text#session-input 01
              button.main__session-increase-btn.input-btn#session-increase +
      main.main
        section.main_section-hero
          div.header__avatar
            img.header__avatar-img(src="/img/avatar.png")
          h2.header__title PomodoroHub
          h3.header__subtitle Time to commit!
        section.main__section-timer
          div.main__timer-border
            div.main__timer-marker
              span#time-tag-0 0 min
              span#time-tag-1 5 min
              span#time-tag-2 10 min
              span#time-tag-3 15 min
              span#time-tag-4 20 min
              span#time-tag-5 25 min
            div.main__timer-wrapper#timer-wrapper
              include templates/rectangles.pug
            div.main__timer-legend
              ul.legend-grid
                span.legend-text#legend-text-0 0 sec
                li.legend-rect#legend-rect-0
                li.legend-rect#legend-rect-1
                li.legend-rect#legend-rect-2
                li.legend-rect#legend-rect-3
                li.legend-rect#legend-rect-4
                span.legend-text#legend-text-1 1 sec
      footer.footer
        p.footer__text © 2017 ErreC • All Rights Reserved

  script(src="js/bundle.min.js")
