@import 'variables/colors.sass'

.main__section-timer
  background-color: orange
  height: 40vh

.timer-wrapper
  width: 636px
  height: 84px
  display: flex
  flex-wrap: wrap
  background-color: white
  flex-direction: column
  margin: auto

.rect
  width: 10px
  height: 10px
  margin-bottom: 2px
  background-color: $grey0

