.main__section-input
  background-color: #24292E
  color: $grey0
  border-radius: 6px
  display: inline-block
  text-align: center
  padding: 8px

.section-input__break, .section-input__session
  display: inline-block

.main__session-wrapper

.input-text
  display: inline-block
  margin: 0px 18px

.input-btn
  display: inline-block
  width: 20px
  height: 20px
  border-radius: 10px
  border: none
  background-color: $grey0

.section-input__break
  margin-right: 32px
