.main__section-input
  background-color: red

.section-input__break, .section-input__session
  display: inline-block
  font-size: 1.32rem

.input-text
  margin: 12px 0

.input-btn
  width: 30px
  height: 30px
  border-radius: 18px
  border: none
  background-color: $grey0

.section-input__break
  margin-right: 32px
