.main__break, .main__session
  display: inline-block
  font-size: 1.32rem

.input-btn
  width: 30px
  height: 30px
  border-radius: 18px
  border: none
  background-color: #ECF0F1

.main__break
  margin-right: 32px
