<svg width="676" height="104" class="graph-svg" xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(16, 20)">
    <g transform="translate(0, 0)">
      <rect id="rec0" class="rect-svg" width="10" height="10" x="13" y="0" fill="green"/>
      <rect id="rec1" class="rect-svg" width="10" height="10" x="13" y="12" fill="green"/>
      <rect id="rec2" class="rect-svg" width="10" height="10" x="13" y="24" fill="green"/>
      <rect id="rec3" class="rect-svg" width="10" height="10" x="13" y="36" fill="green"/>
      <rect id="rec4" class="rect-svg" width="10" height="10" x="13" y="48" fill="green"/>
      <rect id="rec5" class="rect-svg" width="10" height="10" x="13" y="60" fill="green"/>
      <rect id="rec6" class="rect-svg" width="10" height="10" x="13" y="72" fill="green"/>
    </g>
    <g transform="translate(13, 0)">
      <rect id="rec7" class="rect-svg" width="10" height="10" x="12" y="0" fill="green"/>
      <rect id="rec8" class="rect-svg" width="10" height="10" x="12" y="12" fill="green"/>
      <rect id="rec9" class="rect-svg" width="10" height="10" x="12" y="24" fill="green"/>
      <rect id="rec10" class="rect-svg" width="10" height="10" x="12" y="36" fill="green"/>
      <rect id="rec11" class="rect-svg" width="10" height="10" x="12" y="48" fill="green"/>
      <rect id="rec12" class="rect-svg" width="10" height="10" x="12" y="60" fill="green"/>
      <rect id="rec13" class="rect-svg" width="10" height="10" x="12" y="72" fill="green"/>
    </g>
    <g transform="translate(26, 0)">
      <rect id="rec14" class="rect-svg" width="10" height="10" x="11" y="0" fill="green"/>
      <rect id="rec15" class="rect-svg" width="10" height="10" x="11" y="12" fill="green"/>
      <rect id="rec16" class="rect-svg" width="10" height="10" x="11" y="24" fill="green"/>
      <rect id="rec17" class="rect-svg" width="10" height="10" x="11" y="36" fill="green"/>
      <rect id="rec18" class="rect-svg" width="10" height="10" x="11" y="48" fill="green"/>
      <rect id="rec19" class="rect-svg" width="10" height="10" x="11" y="60" fill="green"/>
      <rect id="rec20" class="rect-svg" width="10" height="10" x="11" y="72" fill="green"/>
    </g>
    <g transform="translate(39, 0)">
      <rect id="rec21" class="rect-svg" width="10" height="10" x="10" y="0" fill="green"/>
      <rect id="rec22" class="rect-svg" width="10" height="10" x="10" y="12" fill="green"/>
      <rect id="rec23" class="rect-svg" width="10" height="10" x="10" y="24" fill="green"/>
      <rect id="rec24" class="rect-svg" width="10" height="10" x="10" y="36" fill="green"/>
      <rect id="rec25" class="rect-svg" width="10" height="10" x="10" y="48" fill="green"/>
      <rect id="rec26" class="rect-svg" width="10" height="10" x="10" y="60" fill="green"/>
      <rect id="rec27" class="rect-svg" width="10" height="10" x="10" y="72" fill="green"/>
    </g>
    <g transform="translate(52, 0)">
      <rect id="rec28" class="rect-svg" width="10" height="10" x="9" y="0" fill="green"/>
      <rect id="rec29" class="rect-svg" width="10" height="10" x="9" y="12" fill="green"/>
      <rect id="rec30" class="rect-svg" width="10" height="10" x="9" y="24" fill="green"/>
      <rect id="rec31" class="rect-svg" width="10" height="10" x="9" y="36" fill="green"/>
      <rect id="rec32" class="rect-svg" width="10" height="10" x="9" y="48" fill="green"/>
      <rect id="rec33" class="rect-svg" width="10" height="10" x="9" y="60" fill="green"/>
      <rect id="rec34" class="rect-svg" width="10" height="10" x="9" y="72" fill="green"/>
    </g>
    <g transform="translate(65, 0)">
      <rect id="rec35" class="rect-svg" width="10" height="10" x="8" y="0" fill="green"/>
      <rect id="rec36" class="rect-svg" width="10" height="10" x="8" y="12" fill="green"/>
      <rect id="rec37" class="rect-svg" width="10" height="10" x="8" y="24" fill="green"/>
      <rect id="rec38" class="rect-svg" width="10" height="10" x="8" y="36" fill="green"/>
      <rect id="rec39" class="rect-svg" width="10" height="10" x="8" y="48" fill="green"/>
      <rect id="rec40" class="rect-svg" width="10" height="10" x="8" y="60" fill="green"/>
      <rect id="rec41" class="rect-svg" width="10" height="10" x="8" y="72" fill="green"/>
    </g>
    <g transform="translate(78, 0)">
      <rect id="rec42" class="rect-svg" width="10" height="10" x="7" y="0" fill="green"/>
      <rect id="rec43" class="rect-svg" width="10" height="10" x="7" y="12" fill="green"/>
      <rect id="rec44" class="rect-svg" width="10" height="10" x="7" y="24" fill="green"/>
      <rect id="rec45" class="rect-svg" width="10" height="10" x="7" y="36" fill="green"/>
      <rect id="rec46" class="rect-svg" width="10" height="10" x="7" y="48" fill="green"/>
      <rect id="rec47" class="rect-svg" width="10" height="10" x="7" y="60" fill="green"/>
      <rect id="rec48" class="rect-svg" width="10" height="10" x="7" y="72" fill="green"/>
    </g>
    <g transform="translate(91, 0)">
      <rect id="rec49" class="rect-svg" width="10" height="10" x="6" y="0" fill="green"/>
      <rect id="rec50" class="rect-svg" width="10" height="10" x="6" y="12" fill="green"/>
      <rect id="rec51" class="rect-svg" width="10" height="10" x="6" y="24" fill="green"/>
      <rect id="rec52" class="rect-svg" width="10" height="10" x="6" y="36" fill="green"/>
      <rect id="rec53" class="rect-svg" width="10" height="10" x="6" y="48" fill="green"/>
      <rect id="rec54" class="rect-svg" width="10" height="10" x="6" y="60" fill="green"/>
      <rect id="rec55" class="rect-svg" width="10" height="10" x="6" y="72" fill="green"/>
    </g>
    <g transform="translate(104, 0)">
      <rect id="rec56" class="rect-svg" width="10" height="10" x="5" y="0" fill="green"/>
      <rect id="rec57" class="rect-svg" width="10" height="10" x="5" y="12" fill="green"/>
      <rect id="rec58" class="rect-svg" width="10" height="10" x="5" y="24" fill="green"/>
      <rect id="rec59" class="rect-svg" width="10" height="10" x="5" y="36" fill="green"/>
      <rect id="rec60" class="rect-svg" width="10" height="10" x="5" y="48" fill="green"/>
      <rect id="rec61" class="rect-svg" width="10" height="10" x="5" y="60" fill="green"/>
      <rect id="rec62" class="rect-svg" width="10" height="10" x="5" y="72" fill="green"/>
    </g>
    <g transform="translate(117, 0)">
      <rect id="rec63" class="rect-svg" width="10" height="10" x="4" y="0" fill="green"/>
      <rect id="rec64" class="rect-svg" width="10" height="10" x="4" y="12" fill="green"/>
      <rect id="rec65" class="rect-svg" width="10" height="10" x="4" y="24" fill="green"/>
      <rect id="rec66" class="rect-svg" width="10" height="10" x="4" y="36" fill="green"/>
      <rect id="rec67" class="rect-svg" width="10" height="10" x="4" y="48" fill="green"/>
      <rect id="rec68" class="rect-svg" width="10" height="10" x="4" y="60" fill="green"/>
      <rect id="rec69" class="rect-svg" width="10" height="10" x="4" y="72" fill="green"/>
    </g>
    <g transform="translate(130, 0)">
      <rect id="rec70" class="rect-svg" width="10" height="10" x="3" y="0" fill="green"/>
      <rect id="rec71" class="rect-svg" width="10" height="10" x="3" y="12" fill="green"/>
      <rect id="rec72" class="rect-svg" width="10" height="10" x="3" y="24" fill="green"/>
      <rect id="rec73" class="rect-svg" width="10" height="10" x="3" y="36" fill="green"/>
      <rect id="rec74" class="rect-svg" width="10" height="10" x="3" y="48" fill="green"/>
      <rect id="rec75" class="rect-svg" width="10" height="10" x="3" y="60" fill="green"/>
      <rect id="rec76" class="rect-svg" width="10" height="10" x="3" y="72" fill="green"/>
    </g>
    <g transform="translate(143, 0)">
      <rect id="rec77" class="rect-svg" width="10" height="10" x="2" y="0" fill="green"/>
      <rect id="rec78" class="rect-svg" width="10" height="10" x="2" y="12" fill="green"/>
      <rect id="rec79" class="rect-svg" width="10" height="10" x="2" y="24" fill="green"/>
      <rect id="rec80" class="rect-svg" width="10" height="10" x="2" y="36" fill="green"/>
      <rect id="rec81" class="rect-svg" width="10" height="10" x="2" y="48" fill="green"/>
      <rect id="rec82" class="rect-svg" width="10" height="10" x="2" y="60" fill="green"/>
      <rect id="rec83" class="rect-svg" width="10" height="10" x="2" y="72" fill="green"/>
    </g>
    <g transform="translate(156, 0)">
      <rect id="rec84" class="rect-svg" width="10" height="10" x="1" y="0" fill="green"/>
      <rect id="rec85" class="rect-svg" width="10" height="10" x="1" y="12" fill="green"/>
      <rect id="rec86" class="rect-svg" width="10" height="10" x="1" y="24" fill="green"/>
      <rect id="rec87" class="rect-svg" width="10" height="10" x="1" y="36" fill="green"/>
      <rect id="rec88" class="rect-svg" width="10" height="10" x="1" y="48" fill="green"/>
      <rect id="rec89" class="rect-svg" width="10" height="10" x="1" y="60" fill="green"/>
      <rect id="rec90" class="rect-svg" width="10" height="10" x="1" y="72" fill="green"/>
    </g>
    <g transform="translate(169, 0)">
      <rect id="rec91" class="rect-svg" width="10" height="10" x="0" y="0" fill="green"/>
      <rect id="rec92" class="rect-svg" width="10" height="10" x="0" y="12" fill="green"/>
      <rect id="rec93" class="rect-svg" width="10" height="10" x="0" y="24" fill="green"/>
      <rect id="rec94" class="rect-svg" width="10" height="10" x="0" y="36" fill="green"/>
      <rect id="rec95" class="rect-svg" width="10" height="10" x="0" y="48" fill="green"/>
      <rect id="rec96" class="rect-svg" width="10" height="10" x="0" y="60" fill="green"/>
      <rect id="rec97" class="rect-svg" width="10" height="10" x="0" y="72" fill="green"/>
    </g>
    <g transform="translate(182, 0)">
      <rect id="rec98" class="rect-svg" width="10" height="10" x="-1" y="0" fill="green"/>
      <rect id="rec99" class="rect-svg" width="10" height="10" x="-1" y="12" fill="green"/>
      <rect id="rec100" class="rect-svg" width="10" height="10" x="-1" y="24" fill="green"/>
      <rect id="rec101" class="rect-svg" width="10" height="10" x="-1" y="36" fill="green"/>
      <rect id="rec102" class="rect-svg" width="10" height="10" x="-1" y="48" fill="green"/>
      <rect id="rec103" class="rect-svg" width="10" height="10" x="-1" y="60" fill="green"/>
      <rect id="rec104" class="rect-svg" width="10" height="10" x="-1" y="72" fill="green"/>
    </g>
    <g transform="translate(195, 0)">
      <rect id="rec105" class="rect-svg" width="10" height="10" x="-2" y="0" fill="green"/>
      <rect id="rec106" class="rect-svg" width="10" height="10" x="-2" y="12" fill="green"/>
      <rect id="rec107" class="rect-svg" width="10" height="10" x="-2" y="24" fill="green"/>
      <rect id="rec108" class="rect-svg" width="10" height="10" x="-2" y="36" fill="green"/>
      <rect id="rec109" class="rect-svg" width="10" height="10" x="-2" y="48" fill="green"/>
      <rect id="rec110" class="rect-svg" width="10" height="10" x="-2" y="60" fill="green"/>
      <rect id="rec111" class="rect-svg" width="10" height="10" x="-2" y="72" fill="green"/>
    </g>
    <g transform="translate(208, 0)">
      <rect id="rec112" class="rect-svg" width="10" height="10" x="-3" y="0" fill="green"/>
      <rect id="rec113" class="rect-svg" width="10" height="10" x="-3" y="12" fill="green"/>
      <rect id="rec114" class="rect-svg" width="10" height="10" x="-3" y="24" fill="green"/>
      <rect id="rec115" class="rect-svg" width="10" height="10" x="-3" y="36" fill="green"/>
      <rect id="rec116" class="rect-svg" width="10" height="10" x="-3" y="48" fill="green"/>
      <rect id="rec117" class="rect-svg" width="10" height="10" x="-3" y="60" fill="green"/>
      <rect id="rec118" class="rect-svg" width="10" height="10" x="-3" y="72" fill="green"/>
    </g>
    <g transform="translate(221, 0)">
      <rect id="rec119" class="rect-svg" width="10" height="10" x="-4" y="0" fill="green"/>
      <rect id="rec120" class="rect-svg" width="10" height="10" x="-4" y="12" fill="green"/>
      <rect id="rec121" class="rect-svg" width="10" height="10" x="-4" y="24" fill="green"/>
      <rect id="rec122" class="rect-svg" width="10" height="10" x="-4" y="36" fill="green"/>
      <rect id="rec123" class="rect-svg" width="10" height="10" x="-4" y="48" fill="green"/>
      <rect id="rec124" class="rect-svg" width="10" height="10" x="-4" y="60" fill="green"/>
      <rect id="rec125" class="rect-svg" width="10" height="10" x="-4" y="72" fill="green"/>
    </g>
    <g transform="translate(234, 0)">
      <rect id="rec126" class="rect-svg" width="10" height="10" x="-5" y="0" fill="green"/>
      <rect id="rec127" class="rect-svg" width="10" height="10" x="-5" y="12" fill="green"/>
      <rect id="rec128" class="rect-svg" width="10" height="10" x="-5" y="24" fill="green"/>
      <rect id="rec129" class="rect-svg" width="10" height="10" x="-5" y="36" fill="green"/>
      <rect id="rec130" class="rect-svg" width="10" height="10" x="-5" y="48" fill="green"/>
      <rect id="rec131" class="rect-svg" width="10" height="10" x="-5" y="60" fill="green"/>
      <rect id="rec132" class="rect-svg" width="10" height="10" x="-5" y="72" fill="green"/>
    </g>
    <g transform="translate(247, 0)">
      <rect id="rec133" class="rect-svg" width="10" height="10" x="-6" y="0" fill="green"/>
      <rect id="rec134" class="rect-svg" width="10" height="10" x="-6" y="12" fill="green"/>
      <rect id="rec135" class="rect-svg" width="10" height="10" x="-6" y="24" fill="green"/>
      <rect id="rec136" class="rect-svg" width="10" height="10" x="-6" y="36" fill="green"/>
      <rect id="rec137" class="rect-svg" width="10" height="10" x="-6" y="48" fill="green"/>
      <rect id="rec138" class="rect-svg" width="10" height="10" x="-6" y="60" fill="green"/>
      <rect id="rec139" class="rect-svg" width="10" height="10" x="-6" y="72" fill="green"/>
    </g>
    <g transform="translate(260, 0)">
      <rect id="rec140" class="rect-svg" width="10" height="10" x="-7" y="0" fill="green"/>
      <rect id="rec141" class="rect-svg" width="10" height="10" x="-7" y="12" fill="green"/>
      <rect id="rec142" class="rect-svg" width="10" height="10" x="-7" y="24" fill="green"/>
      <rect id="rec143" class="rect-svg" width="10" height="10" x="-7" y="36" fill="green"/>
      <rect id="rec144" class="rect-svg" width="10" height="10" x="-7" y="48" fill="green"/>
      <rect id="rec145" class="rect-svg" width="10" height="10" x="-7" y="60" fill="green"/>
      <rect id="rec146" class="rect-svg" width="10" height="10" x="-7" y="72" fill="green"/>
    </g>
    <g transform="translate(273, 0)">
      <rect id="rec147" class="rect-svg" width="10" height="10" x="-8" y="0" fill="green"/>
      <rect id="rec148" class="rect-svg" width="10" height="10" x="-8" y="12" fill="green"/>
      <rect id="rec149" class="rect-svg" width="10" height="10" x="-8" y="24" fill="green"/>
      <rect id="rec150" class="rect-svg" width="10" height="10" x="-8" y="36" fill="green"/>
      <rect id="rec151" class="rect-svg" width="10" height="10" x="-8" y="48" fill="green"/>
      <rect id="rec152" class="rect-svg" width="10" height="10" x="-8" y="60" fill="green"/>
      <rect id="rec153" class="rect-svg" width="10" height="10" x="-8" y="72" fill="green"/>
    </g>
    <g transform="translate(286, 0)">
      <rect id="rec154" class="rect-svg" width="10" height="10" x="-9" y="0" fill="green"/>
      <rect id="rec155" class="rect-svg" width="10" height="10" x="-9" y="12" fill="green"/>
      <rect id="rec156" class="rect-svg" width="10" height="10" x="-9" y="24" fill="green"/>
      <rect id="rec157" class="rect-svg" width="10" height="10" x="-9" y="36" fill="green"/>
      <rect id="rec158" class="rect-svg" width="10" height="10" x="-9" y="48" fill="green"/>
      <rect id="rec159" class="rect-svg" width="10" height="10" x="-9" y="60" fill="green"/>
      <rect id="rec160" class="rect-svg" width="10" height="10" x="-9" y="72" fill="green"/>
    </g>
    <g transform="translate(299, 0)">
      <rect id="rec161" class="rect-svg" width="10" height="10" x="-10" y="0" fill="green"/>
      <rect id="rec162" class="rect-svg" width="10" height="10" x="-10" y="12" fill="green"/>
      <rect id="rec163" class="rect-svg" width="10" height="10" x="-10" y="24" fill="green"/>
      <rect id="rec164" class="rect-svg" width="10" height="10" x="-10" y="36" fill="green"/>
      <rect id="rec165" class="rect-svg" width="10" height="10" x="-10" y="48" fill="green"/>
      <rect id="rec166" class="rect-svg" width="10" height="10" x="-10" y="60" fill="green"/>
      <rect id="rec167" class="rect-svg" width="10" height="10" x="-10" y="72" fill="green"/>
    </g>
    <g transform="translate(312, 0)">
      <rect id="rec168" class="rect-svg" width="10" height="10" x="-11" y="0" fill="green"/>
      <rect id="rec169" class="rect-svg" width="10" height="10" x="-11" y="12" fill="green"/>
      <rect id="rec170" class="rect-svg" width="10" height="10" x="-11" y="24" fill="green"/>
      <rect id="rec171" class="rect-svg" width="10" height="10" x="-11" y="36" fill="green"/>
      <rect id="rec172" class="rect-svg" width="10" height="10" x="-11" y="48" fill="green"/>
      <rect id="rec173" class="rect-svg" width="10" height="10" x="-11" y="60" fill="green"/>
      <rect id="rec174" class="rect-svg" width="10" height="10" x="-11" y="72" fill="green"/>
    </g>
    <g transform="translate(325, 0)">
      <rect id="rec175" class="rect-svg" width="10" height="10" x="-12" y="0" fill="green"/>
      <rect id="rec176" class="rect-svg" width="10" height="10" x="-12" y="12" fill="green"/>
      <rect id="rec177" class="rect-svg" width="10" height="10" x="-12" y="24" fill="green"/>
      <rect id="rec178" class="rect-svg" width="10" height="10" x="-12" y="36" fill="green"/>
      <rect id="rec179" class="rect-svg" width="10" height="10" x="-12" y="48" fill="green"/>
      <rect id="rec180" class="rect-svg" width="10" height="10" x="-12" y="60" fill="green"/>
      <rect id="rec181" class="rect-svg" width="10" height="10" x="-12" y="72" fill="green"/>
    </g>
    <g transform="translate(338, 0)">
      <rect id="rec182" class="rect-svg" width="10" height="10" x="-13" y="0" fill="green"/>
      <rect id="rec183" class="rect-svg" width="10" height="10" x="-13" y="12" fill="green"/>
      <rect id="rec184" class="rect-svg" width="10" height="10" x="-13" y="24" fill="green"/>
      <rect id="rec185" class="rect-svg" width="10" height="10" x="-13" y="36" fill="green"/>
      <rect id="rec186" class="rect-svg" width="10" height="10" x="-13" y="48" fill="green"/>
      <rect id="rec187" class="rect-svg" width="10" height="10" x="-13" y="60" fill="green"/>
      <rect id="rec188" class="rect-svg" width="10" height="10" x="-13" y="72" fill="green"/>
    </g>
    <g transform="translate(351, 0)">
      <rect id="rec189" class="rect-svg" width="10" height="10" x="-14" y="0" fill="green"/>
      <rect id="rec190" class="rect-svg" width="10" height="10" x="-14" y="12" fill="green"/>
      <rect id="rec191" class="rect-svg" width="10" height="10" x="-14" y="24" fill="green"/>
      <rect id="rec192" class="rect-svg" width="10" height="10" x="-14" y="36" fill="green"/>
      <rect id="rec193" class="rect-svg" width="10" height="10" x="-14" y="48" fill="green"/>
      <rect id="rec194" class="rect-svg" width="10" height="10" x="-14" y="60" fill="green"/>
      <rect id="rec195" class="rect-svg" width="10" height="10" x="-14" y="72" fill="green"/>
    </g>
    <g transform="translate(364, 0)">
      <rect id="rec196" class="rect-svg" width="10" height="10" x="-15" y="0" fill="green"/>
      <rect id="rec197" class="rect-svg" width="10" height="10" x="-15" y="12" fill="green"/>
      <rect id="rec198" class="rect-svg" width="10" height="10" x="-15" y="24" fill="green"/>
      <rect id="rec199" class="rect-svg" width="10" height="10" x="-15" y="36" fill="green"/>
      <rect id="rec200" class="rect-svg" width="10" height="10" x="-15" y="48" fill="green"/>
      <rect id="rec201" class="rect-svg" width="10" height="10" x="-15" y="60" fill="green"/>
      <rect id="rec202" class="rect-svg" width="10" height="10" x="-15" y="72" fill="green"/>
    </g>
    <g transform="translate(377, 0)">
      <rect id="rec203" class="rect-svg" width="10" height="10" x="-16" y="0" fill="green"/>
      <rect id="rec204" class="rect-svg" width="10" height="10" x="-16" y="12" fill="green"/>
      <rect id="rec205" class="rect-svg" width="10" height="10" x="-16" y="24" fill="green"/>
      <rect id="rec206" class="rect-svg" width="10" height="10" x="-16" y="36" fill="green"/>
      <rect id="rec207" class="rect-svg" width="10" height="10" x="-16" y="48" fill="green"/>
      <rect id="rec208" class="rect-svg" width="10" height="10" x="-16" y="60" fill="green"/>
      <rect id="rec209" class="rect-svg" width="10" height="10" x="-16" y="72" fill="green"/>
    </g>
    <g transform="translate(390, 0)">
      <rect id="rec210" class="rect-svg" width="10" height="10" x="-17" y="0" fill="green"/>
      <rect id="rec211" class="rect-svg" width="10" height="10" x="-17" y="12" fill="green"/>
      <rect id="rec212" class="rect-svg" width="10" height="10" x="-17" y="24" fill="green"/>
      <rect id="rec213" class="rect-svg" width="10" height="10" x="-17" y="36" fill="green"/>
      <rect id="rec214" class="rect-svg" width="10" height="10" x="-17" y="48" fill="green"/>
      <rect id="rec215" class="rect-svg" width="10" height="10" x="-17" y="60" fill="green"/>
      <rect id="rec216" class="rect-svg" width="10" height="10" x="-17" y="72" fill="green"/>
    </g>
    <g transform="translate(403, 0)">
      <rect id="rec217" class="rect-svg" width="10" height="10" x="-18" y="0" fill="green"/>
      <rect id="rec218" class="rect-svg" width="10" height="10" x="-18" y="12" fill="green"/>
      <rect id="rec219" class="rect-svg" width="10" height="10" x="-18" y="24" fill="green"/>
      <rect id="rec220" class="rect-svg" width="10" height="10" x="-18" y="36" fill="green"/>
      <rect id="rec221" class="rect-svg" width="10" height="10" x="-18" y="48" fill="green"/>
      <rect id="rec222" class="rect-svg" width="10" height="10" x="-18" y="60" fill="green"/>
      <rect id="rec223" class="rect-svg" width="10" height="10" x="-18" y="72" fill="green"/>
    </g>
    <g transform="translate(416, 0)">
      <rect id="rec224" class="rect-svg" width="10" height="10" x="-19" y="0" fill="green"/>
      <rect id="rec225" class="rect-svg" width="10" height="10" x="-19" y="12" fill="green"/>
      <rect id="rec226" class="rect-svg" width="10" height="10" x="-19" y="24" fill="green"/>
      <rect id="rec227" class="rect-svg" width="10" height="10" x="-19" y="36" fill="green"/>
      <rect id="rec228" class="rect-svg" width="10" height="10" x="-19" y="48" fill="green"/>
      <rect id="rec229" class="rect-svg" width="10" height="10" x="-19" y="60" fill="green"/>
      <rect id="rec230" class="rect-svg" width="10" height="10" x="-19" y="72" fill="green"/>
    </g>
    <g transform="translate(429, 0)">
      <rect id="rec231" class="rect-svg" width="10" height="10" x="-20" y="0" fill="green"/>
      <rect id="rec232" class="rect-svg" width="10" height="10" x="-20" y="12" fill="green"/>
      <rect id="rec233" class="rect-svg" width="10" height="10" x="-20" y="24" fill="green"/>
      <rect id="rec234" class="rect-svg" width="10" height="10" x="-20" y="36" fill="green"/>
      <rect id="rec235" class="rect-svg" width="10" height="10" x="-20" y="48" fill="green"/>
      <rect id="rec236" class="rect-svg" width="10" height="10" x="-20" y="60" fill="green"/>
      <rect id="rec237" class="rect-svg" width="10" height="10" x="-20" y="72" fill="green"/>
    </g>
    <g transform="translate(442, 0)">
      <rect id="rec238" class="rect-svg" width="10" height="10" x="-21" y="0" fill="green"/>
      <rect id="rec239" class="rect-svg" width="10" height="10" x="-21" y="12" fill="green"/>
      <rect id="rec240" class="rect-svg" width="10" height="10" x="-21" y="24" fill="green"/>
      <rect id="rec241" class="rect-svg" width="10" height="10" x="-21" y="36" fill="green"/>
      <rect id="rec242" class="rect-svg" width="10" height="10" x="-21" y="48" fill="green"/>
      <rect id="rec243" class="rect-svg" width="10" height="10" x="-21" y="60" fill="green"/>
      <rect id="rec244" class="rect-svg" width="10" height="10" x="-21" y="72" fill="green"/>
    </g>
    <g transform="translate(455, 0)">
      <rect id="rec245" class="rect-svg" width="10" height="10" x="-22" y="0" fill="green"/>
      <rect id="rec246" class="rect-svg" width="10" height="10" x="-22" y="12" fill="green"/>
      <rect id="rec247" class="rect-svg" width="10" height="10" x="-22" y="24" fill="green"/>
      <rect id="rec248" class="rect-svg" width="10" height="10" x="-22" y="36" fill="green"/>
      <rect id="rec249" class="rect-svg" width="10" height="10" x="-22" y="48" fill="green"/>
      <rect id="rec250" class="rect-svg" width="10" height="10" x="-22" y="60" fill="green"/>
      <rect id="rec251" class="rect-svg" width="10" height="10" x="-22" y="72" fill="green"/>
    </g>
    <g transform="translate(468, 0)">
      <rect id="rec252" class="rect-svg" width="10" height="10" x="-23" y="0" fill="green"/>
      <rect id="rec253" class="rect-svg" width="10" height="10" x="-23" y="12" fill="green"/>
      <rect id="rec254" class="rect-svg" width="10" height="10" x="-23" y="24" fill="green"/>
      <rect id="rec255" class="rect-svg" width="10" height="10" x="-23" y="36" fill="green"/>
      <rect id="rec256" class="rect-svg" width="10" height="10" x="-23" y="48" fill="green"/>
      <rect id="rec257" class="rect-svg" width="10" height="10" x="-23" y="60" fill="green"/>
      <rect id="rec258" class="rect-svg" width="10" height="10" x="-23" y="72" fill="green"/>
    </g>
    <g transform="translate(481, 0)">
      <rect id="rec259" class="rect-svg" width="10" height="10" x="-24" y="0" fill="green"/>
      <rect id="rec260" class="rect-svg" width="10" height="10" x="-24" y="12" fill="green"/>
      <rect id="rec261" class="rect-svg" width="10" height="10" x="-24" y="24" fill="green"/>
      <rect id="rec262" class="rect-svg" width="10" height="10" x="-24" y="36" fill="green"/>
      <rect id="rec263" class="rect-svg" width="10" height="10" x="-24" y="48" fill="green"/>
      <rect id="rec264" class="rect-svg" width="10" height="10" x="-24" y="60" fill="green"/>
      <rect id="rec265" class="rect-svg" width="10" height="10" x="-24" y="72" fill="green"/>
    </g>
    <g transform="translate(494, 0)">
      <rect id="rec266" class="rect-svg" width="10" height="10" x="-25" y="0" fill="green"/>
      <rect id="rec267" class="rect-svg" width="10" height="10" x="-25" y="12" fill="green"/>
      <rect id="rec268" class="rect-svg" width="10" height="10" x="-25" y="24" fill="green"/>
      <rect id="rec269" class="rect-svg" width="10" height="10" x="-25" y="36" fill="green"/>
      <rect id="rec270" class="rect-svg" width="10" height="10" x="-25" y="48" fill="green"/>
      <rect id="rec271" class="rect-svg" width="10" height="10" x="-25" y="60" fill="green"/>
      <rect id="rec272" class="rect-svg" width="10" height="10" x="-25" y="72" fill="green"/>
    </g>
    <g transform="translate(507, 0)">
      <rect id="rec273" class="rect-svg" width="10" height="10" x="-26" y="0" fill="green"/>
      <rect id="rec274" class="rect-svg" width="10" height="10" x="-26" y="12" fill="green"/>
      <rect id="rec275" class="rect-svg" width="10" height="10" x="-26" y="24" fill="green"/>
      <rect id="rec276" class="rect-svg" width="10" height="10" x="-26" y="36" fill="green"/>
      <rect id="rec277" class="rect-svg" width="10" height="10" x="-26" y="48" fill="green"/>
      <rect id="rec278" class="rect-svg" width="10" height="10" x="-26" y="60" fill="green"/>
      <rect id="rec279" class="rect-svg" width="10" height="10" x="-26" y="72" fill="green"/>
    </g>
    <g transform="translate(520, 0)">
      <rect id="rec280" class="rect-svg" width="10" height="10" x="-27" y="0" fill="green"/>
      <rect id="rec281" class="rect-svg" width="10" height="10" x="-27" y="12" fill="green"/>
      <rect id="rec282" class="rect-svg" width="10" height="10" x="-27" y="24" fill="green"/>
      <rect id="rec283" class="rect-svg" width="10" height="10" x="-27" y="36" fill="green"/>
      <rect id="rec284" class="rect-svg" width="10" height="10" x="-27" y="48" fill="green"/>
      <rect id="rec285" class="rect-svg" width="10" height="10" x="-27" y="60" fill="green"/>
      <rect id="rec286" class="rect-svg" width="10" height="10" x="-27" y="72" fill="green"/>
    </g>
    <g transform="translate(533, 0)">
      <rect id="rec287" class="rect-svg" width="10" height="10" x="-28" y="0" fill="green"/>
      <rect id="rec288" class="rect-svg" width="10" height="10" x="-28" y="12" fill="green"/>
      <rect id="rec289" class="rect-svg" width="10" height="10" x="-28" y="24" fill="green"/>
      <rect id="rec290" class="rect-svg" width="10" height="10" x="-28" y="36" fill="green"/>
      <rect id="rec291" class="rect-svg" width="10" height="10" x="-28" y="48" fill="green"/>
      <rect id="rec292" class="rect-svg" width="10" height="10" x="-28" y="60" fill="green"/>
      <rect id="rec293" class="rect-svg" width="10" height="10" x="-28" y="72" fill="green"/>
    </g>
    <g transform="translate(546, 0)">
      <rect id="rec294" class="rect-svg" width="10" height="10" x="-29" y="0" fill="green"/>
      <rect id="rec295" class="rect-svg" width="10" height="10" x="-29" y="12" fill="green"/>
      <rect id="rec296" class="rect-svg" width="10" height="10" x="-29" y="24" fill="green"/>
      <rect id="rec297" class="rect-svg" width="10" height="10" x="-29" y="36" fill="green"/>
      <rect id="rec298" class="rect-svg" width="10" height="10" x="-29" y="48" fill="green"/>
      <rect id="rec299" class="rect-svg" width="10" height="10" x="-29" y="60" fill="green"/>
      <rect id="rec300" class="rect-svg" width="10" height="10" x="-29" y="72" fill="green"/>
    </g>
    <g transform="translate(559, 0)">
      <rect id="rec301" class="rect-svg" width="10" height="10" x="-30" y="0" fill="green"/>
      <rect id="rec302" class="rect-svg" width="10" height="10" x="-30" y="12" fill="green"/>
      <rect id="rec303" class="rect-svg" width="10" height="10" x="-30" y="24" fill="green"/>
      <rect id="rec304" class="rect-svg" width="10" height="10" x="-30" y="36" fill="green"/>
      <rect id="rec305" class="rect-svg" width="10" height="10" x="-30" y="48" fill="green"/>
      <rect id="rec306" class="rect-svg" width="10" height="10" x="-30" y="60" fill="green"/>
      <rect id="rec307" class="rect-svg" width="10" height="10" x="-30" y="72" fill="green"/>
    </g>
    <g transform="translate(572, 0)">
      <rect id="rec308" class="rect-svg" width="10" height="10" x="-31" y="0" fill="green"/>
      <rect id="rec309" class="rect-svg" width="10" height="10" x="-31" y="12" fill="green"/>
      <rect id="rec310" class="rect-svg" width="10" height="10" x="-31" y="24" fill="green"/>
      <rect id="rec311" class="rect-svg" width="10" height="10" x="-31" y="36" fill="green"/>
      <rect id="rec312" class="rect-svg" width="10" height="10" x="-31" y="48" fill="green"/>
      <rect id="rec313" class="rect-svg" width="10" height="10" x="-31" y="60" fill="green"/>
      <rect id="rec314" class="rect-svg" width="10" height="10" x="-31" y="72" fill="green"/>
    </g>
    <g transform="translate(585, 0)">
      <rect id="rec315" class="rect-svg" width="10" height="10" x="-32" y="0" fill="green"/>
      <rect id="rec316" class="rect-svg" width="10" height="10" x="-32" y="12" fill="green"/>
      <rect id="rec317" class="rect-svg" width="10" height="10" x="-32" y="24" fill="green"/>
      <rect id="rec318" class="rect-svg" width="10" height="10" x="-32" y="36" fill="green"/>
      <rect id="rec319" class="rect-svg" width="10" height="10" x="-32" y="48" fill="green"/>
      <rect id="rec320" class="rect-svg" width="10" height="10" x="-32" y="60" fill="green"/>
      <rect id="rec321" class="rect-svg" width="10" height="10" x="-32" y="72" fill="green"/>
    </g>
    <g transform="translate(598, 0)">
      <rect id="rec322" class="rect-svg" width="10" height="10" x="-33" y="0" fill="green"/>
      <rect id="rec323" class="rect-svg" width="10" height="10" x="-33" y="12" fill="green"/>
      <rect id="rec324" class="rect-svg" width="10" height="10" x="-33" y="24" fill="green"/>
      <rect id="rec325" class="rect-svg" width="10" height="10" x="-33" y="36" fill="green"/>
      <rect id="rec326" class="rect-svg" width="10" height="10" x="-33" y="48" fill="green"/>
      <rect id="rec327" class="rect-svg" width="10" height="10" x="-33" y="60" fill="green"/>
      <rect id="rec328" class="rect-svg" width="10" height="10" x="-33" y="72" fill="green"/>
    </g>
    <g transform="translate(611, 0)">
      <rect id="rec329" class="rect-svg" width="10" height="10" x="-34" y="0" fill="green"/>
      <rect id="rec330" class="rect-svg" width="10" height="10" x="-34" y="12" fill="green"/>
      <rect id="rec331" class="rect-svg" width="10" height="10" x="-34" y="24" fill="green"/>
      <rect id="rec332" class="rect-svg" width="10" height="10" x="-34" y="36" fill="green"/>
      <rect id="rec333" class="rect-svg" width="10" height="10" x="-34" y="48" fill="green"/>
      <rect id="rec334" class="rect-svg" width="10" height="10" x="-34" y="60" fill="green"/>
      <rect id="rec335" class="rect-svg" width="10" height="10" x="-34" y="72" fill="green"/>
    </g>
    <g transform="translate(624, 0)">
      <rect id="rec336" class="rect-svg" width="10" height="10" x="-35" y="0" fill="green"/>
      <rect id="rec337" class="rect-svg" width="10" height="10" x="-35" y="12" fill="green"/>
      <rect id="rec338" class="rect-svg" width="10" height="10" x="-35" y="24" fill="green"/>
      <rect id="rec339" class="rect-svg" width="10" height="10" x="-35" y="36" fill="green"/>
      <rect id="rec340" class="rect-svg" width="10" height="10" x="-35" y="48" fill="green"/>
      <rect id="rec341" class="rect-svg" width="10" height="10" x="-35" y="60" fill="green"/>
      <rect id="rec342" class="rect-svg" width="10" height="10" x="-35" y="72" fill="green"/>
    </g>
    <g transform="translate(637, 0)">
      <rect id="rec343" class="rect-svg" width="10" height="10" x="-36" y="0" fill="green"/>
      <rect id="rec344" class="rect-svg" width="10" height="10" x="-36" y="12" fill="green"/>
      <rect id="rec345" class="rect-svg" width="10" height="10" x="-36" y="24" fill="green"/>
      <rect id="rec346" class="rect-svg" width="10" height="10" x="-36" y="36" fill="green"/>
      <rect id="rec347" class="rect-svg" width="10" height="10" x="-36" y="48" fill="green"/>
      <rect id="rec348" class="rect-svg" width="10" height="10" x="-36" y="60" fill="green"/>
      <rect id="rec349" class="rect-svg" width="10" height="10" x="-36" y="72" fill="green"/>
    </g>
    <g transform="translate(650, 0)">
      <rect id="rec350" class="rect-svg" width="10" height="10" x="-37" y="0" fill="green"/>
      <rect id="rec351" class="rect-svg" width="10" height="10" x="-37" y="12" fill="green"/>
      <rect id="rec352" class="rect-svg" width="10" height="10" x="-37" y="24" fill="green"/>
      <rect id="rec353" class="rect-svg" width="10" height="10" x="-37" y="36" fill="green"/>
      <rect id="rec354" class="rect-svg" width="10" height="10" x="-37" y="48" fill="green"/>
      <rect id="rec355" class="rect-svg" width="10" height="10" x="-37" y="60" fill="green"/>
      <rect id="rec356" class="rect-svg" width="10" height="10" x="-37" y="72" fill="green"/>
    </g>
    <g transform="translate(663, 0)">
      <rect id="rec357" class="rect-svg" width="10" height="10" x="-38" y="0" fill="green"/>
      <rect id="rec358" class="rect-svg" width="10" height="10" x="-38" y="12" fill="green"/>
      <rect id="rec359" class="rect-svg" width="10" height="10" x="-38" y="24" fill="green"/>
      <rect id="rec360" class="rect-svg" width="10" height="10" x="-38" y="36" fill="green"/>
      <rect id="rec361" class="rect-svg" width="10" height="10" x="-38" y="48" fill="green"/>
      <rect id="rec362" class="rect-svg" width="10" height="10" x="-38" y="60" fill="green"/>
      <rect id="rec363" class="rect-svg" width="10" height="10" x="-38" y="72" fill="green"/>
    </g>
    <g transform="translate(676, 0)">
      <rect id="rec364" class="rect-svg" width="10" height="10" x="-39" y="0" fill="green"/>
      <rect id="rec365" class="rect-svg" width="10" height="10" x="-39" y="12" fill="green"/>
      <rect id="rec366" class="rect-svg" width="10" height="10" x="-39" y="24" fill="green"/>
      <rect id="rec367" class="rect-svg" width="10" height="10" x="-39" y="36" fill="green"/>
    </g>
      <text x="10" y="-5" class="time-svg-tx">0</text>
      <text x="66" y="-5" class="time-svg-tx">5</text>
      <text x="122" y="-5" class="time-svg-tx">10</text>
      <text x="178" y="-5" class="time-svg-tx">15</text>
      <text x="234" y="-5" class="time-svg-tx">20</text>
      <text x="290" y="-5" class="time-svg-tx">25</text>
      <text x="346" y="-5" class="time-svg-tx">30</text>
      <text x="402" y="-5" class="time-svg-tx">35</text>
      <text x="458" y="-5" class="time-svg-tx">40</text>
      <text x="514" y="-5" class="time-svg-tx">45</text>
      <text x="570" y="-5" class="time-svg-tx">50</text>
      <text x="626" y="-5" class="time-svg-tx">55</text>
  </g>
</svg>
