@import 'modules/normalize.scss'
@import 'modules/reset.scss'
@import 'assets/header.sass'
@import 'assets/section-input.sass'
@import 'assets/section-display.sass'
@import 'assets/section-panel.sass'
@import 'assets/footer.sass'

body, html
  background-color: #E74C3C
  color: #ECF0F1

body
  text-align: center

h1, h2, h3, p
  margin: 0

.header
  height: 25vh
.main
  height: 70vh
.footer
  height: 5vh
